*{
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  background-image : linear-gradient(to right, #00000066, #00000066),url("foodrecipie.jpg");
  height: 100vh;
}
.title{
    color: #f3f8f7;
}
img{
   
    height: 100;
    width: 100;
    object-fit: cover;
}
html{
    font-family: 'Castoro', serif;
    font-size: 15px;
}
section{
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 100px 0;
}
.container {
    width: 100%;
    height: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  .brand {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 30px;
  }
  .gradient-text {

  background-color: #CA4246;
  
   background-image: linear-gradient(
        45deg,
        #CA4246 16.666%, 
        #E16541 16.666%, 
        #E16541 33.333%, 
        #F18F43 33.333%, 
        #F18F43 50%, 
        #8B9862 50%, 
        #8B9862 66.666%, 
        #476098 66.666%, 
        #476098 83.333%, 
        #A7489B 83.333%);

  background-size: 100%;
  background-repeat: repeat;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  
   animation: rainbow-text-simple-animation-rev 0.75s ease forwards;

}

.gradient-text:hover{
    animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}


@keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 650%;
    }
    40% {
        background-size: 650%;
    }
    100% {
        background-size: 100%;
    }
}

@keyframes rainbow-text-simple-animation {
    0% {
        background-size: 100%;
    }
    80% {
        background-size: 650%;
    }
    100% {
        background-size: 650%;
    }
}
  form {
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
    background-color: rgb(223, 223, 223);
    border: none;
    border-radius: 80px;
  }
  input {
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 60px;
    outline: none;
    font-size: 2rem;
    background-color: rgb(223, 223, 223);
    display: inline-block;
  }
  form ion-icon {
    width: 8%;
    font-size: 3rem;
    margin-bottom: -8px;
    color: rgb(75, 75, 75);
    display: inline-block;
  }
  ion-icon:hover{
    color: blue;
    font-size: 3.2rem;

  }
  .search-result {
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-gap: 25px;
    grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
  }
  .item {
    width: 100%;
    border-radius: 8px;
    background-color: rgb(37, 37, 37);
    padding: 15px;
    overflow: hidden;
  }
  .item img {
    width: 100%;
    height: 300px;
    border-radius: 4px;
  }
  .flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .search-result .title {
    color: whitesmoke;
    margin: 20px 10px 0 0;
    font-size: 1.8rem;
    font-weight: 400;
  }
  .view-btn {
    text-decoration: none;
    text-align: center;
    width: 130px;
    padding: 10px 0;
    background-color: #404041;
    color: whitesmoke;
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 20px;
    border-radius: 4px;
    align-self: flex-start;
  }
  .item-data {
    color: whitesmoke;
    display: block;
    margin-top: 10px;
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
    line-height: 2rem;
  }
  .container.initial .brand {
    font-size: 7rem;
  }
  .container.initial form {
    max-width: 800px;
  }
  .container.initial form input {
    padding: 20px;
    font-size: 3rem;
  }
  
  @media (max-width: 768px) {
    .search-result {
      grid-gap: 10px;
    }
    .container.initial .brand {
      font-size: 4rem;
    }
    .container.initial form {
      max-width: 500px;
    }
    .container.initial form input {
      padding: 10px;
      font-size: 2rem;
    }
  }
  
  
  
 
