@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Poppins", sans-serif;
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
  position: relative;
  width: 600px;
  height: 300px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}
.advice{
    font: size 24px;
    font-weight: 400;
    margin: 25px 25px;
}
.btn{
    width: 40%;
    padding:15px;
    background-color:#fff;
    color:#000000;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
    opacity: 0.8;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20), 0 6px 20px 0;
}
.btn:hover{
    opacity: 1;
}